<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/thaba/Documents/Programming/AppiumFramework">
        <classes>
            <class name="Appium.eCommerceE2ETest"></class>
            <class name="Appium.eCommerceToastTest"></class>
        </classes>
    </test>
</suite>